.cellBlack {
    -fx-background-color: rgb(45, 124, 2);    
    -fx-effect: dropshadow( one-pass-box , rgb(14, 85, 2) , 3 , 0.0 , 0 , 0 );
}
.cellWhite {
    -fx-background-color: rgb(223, 246, 228);    
    -fx-effect: dropshadow( one-pass-box , rgb(223, 250, 189) , 3 , 0.0 , 0 , 0 );
}
.cellActive {
    -fx-effect: dropshadow( one-pass-box , black , 13 , 0.0 , 0 , 0 );
}
.cellAvailable {
    -fx-background-color: rgb(199, 37, 40);
}